
.successBrand{
  height: 140px;
}

.successWrapper{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-bottom: 200px;

}
.successIcons{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  margin-bottom: 35px;
  border: 2px solid #6cf0b9;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  box-shadow: -6px 3px 46px 11px rgba(108,240,185,0.63);
-webkit-box-shadow: -6px 3px 46px 11px rgba(108,240,185,0.63);
-moz-box-shadow: -6px 3px 46px 11px rgba(108,240,185,0.63);
  /* background-color: blue; */
}


.successWrapper h2{
  color: #222;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* #outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
/* #inner-circle { */
  /* position: absolute;
  background: #a9aaab;
  border-radius: 50%;
  height: 80px;
  width: 80px; */
  /*
   Put top edge and left edge in the center
  */
  /* top: 50%;
  left: 50%;
  margin: -150px 0px 0px -150px; */
  /* 
   Offset the position correctly with
   minus half of the width and minus half of the height 
  */




/* TODO MAKE APP DOWN BAR NONE VISIBLE FOR LARGE SCREEN */

